*.mov filter=lfs diff=lfs merge=lfs -text
*.f3d binary
media/IMG_5227.jpeg filter=lfs diff=lfs merge=lfs -text
media/IMG_5226.MOV filter=lfs diff=lfs merge=lfs -text
media/IMG_5039.MOV filter=lfs diff=lfs merge=lfs -text
media/IMG_5074.jpeg filter=lfs diff=lfs merge=lfs -text
media/20250512_163300.jpg filter=lfs diff=lfs merge=lfs -text
media/20250513_114927.jpg filter=lfs diff=lfs merge=lfs -text
media/IMG_5164.jpeg filter=lfs diff=lfs merge=lfs -text
media/IMG_5179.JPG filter=lfs diff=lfs merge=lfs -text
media/20250512_163234.jpg filter=lfs diff=lfs merge=lfs -text
media/IMG_5018.jpeg filter=lfs diff=lfs merge=lfs -text
media/IMG_5051.MOV filter=lfs diff=lfs merge=lfs -text
media/IMG_5017.JPG filter=lfs diff=lfs merge=lfs -text
media/IMG_5165.MOV filter=lfs diff=lfs merge=lfs -text
media/IMG_5170.MOV filter=lfs diff=lfs merge=lfs -text
media/IMG_5220.DNG filter=lfs diff=lfs merge=lfs -text
media/20250512_163221.jpg filter=lfs diff=lfs merge=lfs -text
media/20250512_163228.jpg filter=lfs diff=lfs merge=lfs -text
media/20250512_163247.jpg filter=lfs diff=lfs merge=lfs -text
media/IMG_5200.MOV filter=lfs diff=lfs merge=lfs -text
media/IMG_5214.JPG filter=lfs diff=lfs merge=lfs -text
media/20250512_163241.jpg filter=lfs diff=lfs merge=lfs -text
media/20250512_163309.jpg filter=lfs diff=lfs merge=lfs -text
media/20250512_163355.jpg filter=lfs diff=lfs merge=lfs -text
media/IMG_4815.MOV filter=lfs diff=lfs merge=lfs -text
media/IMG_5088.JPG filter=lfs diff=lfs merge=lfs -text
media/20250512_132516.jpg filter=lfs diff=lfs merge=lfs -text
media/20250512_163213.jpg filter=lfs diff=lfs merge=lfs -text
media/20250512_163344.jpg filter=lfs diff=lfs merge=lfs -text
media/20250512_163620.jpg filter=lfs diff=lfs merge=lfs -text
media/IMG_5068.JPG filter=lfs diff=lfs merge=lfs -text
media/IMG_5231.DNG filter=lfs diff=lfs merge=lfs -text
media/20250512_163318.jpg filter=lfs diff=lfs merge=lfs -text
media/IMG_5073.jpeg filter=lfs diff=lfs merge=lfs -text
